.bgHeader{
    background: url("https://i.postimg.cc/v8PkWmGD/bg-0001.webp");
    background-position-x: center, -10px;
    background-size: cover;
}

#bonusPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 120px;
}
.bonusHouse{
    width: 300px;

    max-width: 80vw;
}
.bonusContent *{
   text-align: center;
}
.bonusContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin-bottom: 14px;
}
.bh-txt{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bullsCta{
    font-size: 18px;
    border-radius: 999px;
    padding: 0.5rem 1.25rem;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 999px;
    box-shadow: 0px 2px 20px 0px rgba(251, 208, 19, 0.35);
}
.warning{
    text-align: center;
    border-radius: 6px;
    justify-self: center;
    display: flex;
    justify-content: center;
    padding: 5px 10px;
    background: linear-gradient(180deg, #151100 0%, #000 100%);
    width: 350px;
    max-width: 85vw;
}
.warning p svg{
    margin-right: 5px;
}
.warningstroke{
    padding: 1px;
    background: linear-gradient(180deg, #FFB700 0%, rgba(0, 0, 0, 0.00) 100%);
    border-radius: 6px;
}

#bonusiFrame{
    margin-top: 32px;
    width: 85vw;
    height: 500px;
    border-radius: 6px;
    border: none
}
.if-disabled{
    display: none;
}

